.main_gallery {
  border-radius: 20px;
  background: #FFF;
  padding-bottom: 10px;
  //margin-right: 30px;

  .btn_back {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;

    .uploadPhoto {
      .custom-button {
        margin-right: 20px;

      }

    }

    .flex_header_gallery {
      display: flex;
      align-items: center;

      p {
        color: #FFF;
        text-align: center;
        font-family: Jost, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 2px;
        padding: 5px 29px;
        background: #FF868E;
        border-radius: 10px;
        margin-left: 10px;
      }
    }


  }

  .filters_gallery {
    border-radius: 20px;
    background: #F8F8F7;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: 20px;
    margin-right: 18px;
    padding-bottom: 20px;

    .btn_rnd {
      border-radius: 10px;
      background: #FFF;
      width: 40px;
      height: 40px;
      cursor: pointer;
    }

    .select {
      margin-left: 20px;

      .select_gallery {
        border-radius: 10px;
        background: #FFF;
        width: 290px;
        height: 40px;
        border: none;
        outline: none;
        cursor: pointer;
      }

      p {
        color: #8C8C8C;
        font-family: Jost, sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px; /* 180% */
      }

      .select_gallery_cast {
        width: 240px;
        height: 40px;
        border-radius: 10px;
        background: #FFF;
        border: none;
        margin-right: 10px;
        outline: none;
        cursor: pointer;
      }


    }
  }
}