.headerItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 138px;
  height: 198px;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.60);
  margin-bottom: 10px;
}